* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    scroll-behavior: smooth;
    font-family: Mona Sans, sans-serif;
}

.material-symbols-outlined {
    font-size: 19px;
    background-color: inherit;
    border: none;
}

#light:hover {
    background-color: whitesmoke;
}

header {
    background-color: white;
    padding: 25px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
}

header span:nth-of-type(1) {
    font-size: 1.6em;
    font-weight: 400;
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    border-radius: 50px;
}

.search-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    padding: 5px 20px;
    margin: 50px auto;
    z-index: 500;
}

.search-contents span {
    border-radius: 4px;
    background-color: transparent;
}

.search-contents span:nth-of-type(1) {
    width: 50%;
}

.search-contents span:nth-of-type(1) input {
    padding: 7px;
    width: 100%;
    max-width: 300px; 
    border: none;
    border-radius: 5px;
    outline: none;
}


.search-contents span:nth-of-type(2) input{
    padding: 7px;
    border-radius: inherit;
    background-color: white;
}

#menu {
    position: absolute;
    width: 230px;
    height: auto;
    right: 20px;
    top: 45px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    padding: 5px;
    display: none;
}

#menu.show-menu {
    display: block;
}

#menu button {
   text-align: left;
   display: block;
   width: 100%;
   padding: 10px;
   border: none;
   background-color: inherit;
   border-radius: inherit;
} 

#menu button:hover {
    background-color: whitesmoke;
}

#contents {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-content: center;
    padding: 0px 30px;
}

a {
    color: inherit;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    background-color: none;
}

section {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: left;
    padding-bottom: 15px;
    border-radius: 4px;
    overflow-x: auto;
    background-color: white;
    color: inherit;
}

section img {
    width: 100%;
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid whitesmoke;
}

section h4 {
    margin: 15px;
}

section p {
    font-size: 12px;
    color: #333;
    margin: 5px 0px 10px 15px;
}

.message {
  margin: 70px auto;
}

footer {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    text-align: center;
    margin-top: 50px;
    bottom: 0;
    position: relative;
}

footer p {
    display: block;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.238);
}

footer .hide-note {
    display: none;
}

#loading {
    position: fixed;
    background: inherit;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1000;
}

#loading.hide-loading{
    display: none;
}

#loading p {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading p span:nth-of-type(1) {
    font-size: 5em;
    margin-bottom: 20px;
    animation: visibility 4s ease infinite;
}

@keyframes visibility {
    0% {
        opacity: 1;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
