#main {
    display: block;
    width: 70%;
    padding: 0px;
    margin: 20px auto;
    background-color: transparent;
}

section {
    background-color: inherit;
}

#back-btn-holder {
    display: none;
}

#back-btn-holder {
    display: none;
}

 a {
    border: none;
    margin: 40px;
    background-color: white;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}