#main {
    display: block;
    max-width: 80%;
    padding: 0px;
    margin: 20px auto;
}

#back-btn-holder {
    display: none;
}

#back-btn-holder {
    display: none;
}

 a {
    border: none;
    margin: 40px;
    background-color: white;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}