#dark {
    display: none; 
}

#dark:hover {
    background-color: #202c37;
}

#bar.scrolled {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
}

#bar.scrolled span:nth-of-type(1) input {
    background-color: whitesmoke;
}

body.dark-mode #bar.scrolled {
    background-color: #2b3945;
}

body.dark-mode #bar.scrolled span:nth-of-type(1) input {
    background-color: #202c37;
    border: none;
}

body.dark-mode #bar.scrolled input:hover {
    background-color: #202c37;
    border: none;
}

body.dark-mode {
    background-color: #202c37;
    color: white;
    }

body.dark-mode button,
body.dark-mode input {
    color: inherit;
}

body.dark-mode header {
    background-color: #2b3945;
}

body.dark-mode #bar span input {
    background-color: #2b3945;
}

body.dark-mode #bar #menu {
    background-color: #2b3945;
    border: none;
}

body.dark-mode #bar #menu button:hover {
    background-color: #202c37;
}

body.dark-mode section {
    background-color: #2b3945;
}

body.dark-mode section img {
    border: none;
}

body.dark-mode section p {
    color: #ccc;
}

body.dark-mode #loading {
    background-color: #202c37;
}

