body {
    transition: 0.2s ease;
}

header button {
    background-color: inherit;
    padding: 8px;
    border-radius: 50px;
}

#dark {
    display: none;
    transition: 0s ease;
}

#light:hover, #dark:hover {
    background-color: whitesmoke;
}

#dark:hover {
    background-color: #202c37;
}

#bar.scrolled {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
}

#bar.scrolled input:hover {
    background-color: rgb(234, 234, 234);
    border: none;
}

body.dark-mode {
    background-color: #202c37;
    color: white;
}

body.dark-mode button,
body.dark-mode input {
    color: inherit;
}

body.dark-mode header {
    background-color: #2b3945;
}

body.dark-mode #bar.scrolled {
    background-color: #2b3945;
}

body.dark-mode #bar input {
    background-color: #2b3945;
}

body.dark-mode #bar.scrolled input:hover {
    background-color: #202c37;
}

body.dark-mode section {
    background-color: #2b3945;
}

body.dark-mode section img {
    border: none;
}

body.dark-mode section p {
    color: #ccc;
}
